[submodule "devops-test-web"]
	path = devops-test-web
	url = https://github.com/cultureai/devops-test-web.git
	
[submodule "devops-test-api"]
	path = devops-test-api
	url = https://github.com/cultureai/devops-test-api.git
